[submodule "modules/autosuggestions/external"]
	path = modules/autosuggestions/external
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "modules/prompt/external/powerline"]
	path = modules/prompt/external/powerline
	url = https://github.com/davidjrice/prezto_powerline.git
[submodule "modules/prompt/external/agnoster"]
	path = modules/prompt/external/agnoster
	url = https://github.com/agnoster/agnoster-zsh-theme.git
